<h3>Welcome back, {{ name }} ID Is {{ customerId }}</h3>

<div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
            <img src="https://mdbootstrap.com/img/logo/mdb-email.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
                  <a class="active" href="#home">Home</a>
                  <a [routerLink]="['/accountdetails']">ACCOUNT DETAILS</a>
                  <a [routerLink]="['/transfer']">FUND TRANSFER</a>
                  <a [routerLink]="['/AccState']">ACCOUNT STATEMENT</a>
      </div>

</div>
<div class="content">

      <router-outlet></router-outlet>
</div>